@tailwind base;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	@apply text-common font-sans;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@layer base {
	h1 {
		@apply text-heading1;
	}

	h2 {
		@apply text-heading2;
	}

	h3 {
		@apply text-heading3;
	}

	h4 {
		@apply text-heading4;
	}

	a {
		@apply text-info underline decoration-2 underline-offset-2;
	}

	input {
		@apply w-full border;

		&[type='checkbox'],
		&[type='radio'] {
			@apply hidden;
		}
	}
}
