@tailwind base;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	@apply text-common font-sans;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@layer base {
	h1 {
		// conflict with storybook style
		@apply text-heading1 #{!important};
	}

	h2 {
		@apply text-heading2;
	}

	h3 {
		@apply text-heading3;
	}

	h4 {
		@apply text-heading4;
	}

	a {
		@apply text-info underline decoration-2 underline-offset-2 transition-all;

		&[aria-disabled='true'] {
			@apply pointer-events-none text-common-disabled no-underline;
		}
	}

	li {
		a {
			@apply text-common-primary no-underline;
		}
	}

	input {
		@apply w-full h-full px-3 transition-all;
		@apply border-0 outline-none bg-transparent placeholder-common-primary placeholder-opacity-darker;

		&[type='checkbox'],
		&[type='radio'] {
			@apply hidden;
		}
	}
}
