@tailwind components;

// 不使用也會編譯進 CSS
.color {
	&-- {
		&primary {
			--pattern-color: var(--primary);
			--pattern-active: var(--primary-dark);
		}
		&secondary {
			--pattern-color: var(--secondary);
			--pattern-active: var(--secondary-dark);
		}
		&success {
			--pattern-color: var(--success);
			--pattern-active: var(--success-dark);
		}
		&error {
			--pattern-color: var(--error);
			--pattern-active: var(--error-dark);
		}
		&warning {
			--pattern-color: var(--warning);
			--pattern-active: var(--warning-dark);
		}
		&info {
			--pattern-color: var(--info);
			--pattern-active: var(--info-dark);
		}
	}
}

.pattern {
	&-- {
		&fill {
			@apply border border-transparent bg-pattern text-white;
		}
		&fog {
			@apply border border-transparent bg-pattern text-pattern;
			@apply bg-opacity-light;
		}
		&outline {
			@apply border border-pattern text-pattern;
		}
		&ghost {
			@apply text-pattern;
		}
	}
}

.pattern--hoverEffect {
	&.pattern {
		&-- {
			&fill {
				@apply hover:bg-pattern-active;
			}
			&fog {
				@apply hover:bg-opacity-normal-dark;
			}
			&outline {
				@apply hover:ring-2 hover:ring-pattern hover:ring-opacity-darker;
			}
			&ghost {
				@apply hover:bg-pattern-active hover:bg-opacity-lighter;
			}
		}
	}
}

.pattern--disabled {
	&.pattern {
		&-- {
			&fill {
				@apply border-common-disabled bg-common-disabled;
			}
			&fog {
				@apply border-common-disabled bg-common-disabled text-common-disabled;
				@apply border-opacity-light bg-opacity-light;
			}
			&outline {
				@apply border-common-disabled bg-common-disabled text-common-disabled;
				@apply bg-opacity-lighter;
			}
			&ghost {
				@apply text-common-disabled;
			}
		}
	}
}

.shape {
	&-- {
		&circle {
			@apply rounded-full;
		}

		&round {
			@apply rounded-lg;
		}

		&square {
			@apply rounded-none;
		}
	}
}

input {
	&.shape {
		&-- {
			&circle {
				@apply px-4;
			}

			&round {
				@apply px-2;
			}

			&square {
				@apply px-2;
			}
		}
	}
}

// fontSize
.text {
	&- {
		&large {
			&-- {
				&large {
					@apply text-xl;
				}
				&normal {
					@apply text-lg;
				}
				&small {
					@apply text-base;
				}
			}
		}
		&normal {
			&-- {
				&large {
					@apply text-lg;
				}
				&normal {
					@apply text-base;
				}
				&small {
					@apply text-sm;
				}
			}
		}
		&small {
			&-- {
				&large {
					@apply text-base;
				}
				&normal {
					@apply text-sm;
				}
				&small {
					@apply text-xs;
				}
			}
		}
	}
}

.btn {
	@apply flex items-center justify-center transition-all;

	&-- {
		&large {
			@apply h-10;
		}
		&normal,
		&full {
			@apply h-9;
		}
		&small {
			@apply h-8;
		}
	}

	&.btn-- {
		&large {
			@apply px-7 space-x-2.5;
		}
		&full {
			@apply min-w-full space-x-2;
		}
		&normal {
			@apply px-6  space-x-2;
		}
		&small {
			@apply px-5  space-x-1.5;
		}
	}

	&.iconOnly {
		@apply p-0;

		&.btn-- {
			&large {
				@apply w-10;
			}
			&normal {
				@apply w-9;
			}
			&small {
				@apply w-8;
			}
		}
	}

	&.color--success {
		--pattern-color: var(--success-dark);
		--pattern-active: var(--success-darker);
	}
}

// 有使用到才會編譯進 CSS
@layer components {
	.heading {
		@apply font-bold text-common-primary;
	}
}
